<div class="tc-sidebar-entry tc-sidebar-entry-single" data-entryId="{{id}}">
    <div class="row">
        <div class="time-from inline left">
            {{start_time_formatted}}
        </div>
        <div class="separator inline">
            -
        </div>
        <div class="time-to inline">
            {{end_time_formatted}}
        </div>
        <div class="billable inline">
            {{#isBillable}}
                <input type="checkbox" class="billable-checkbox" name="billable" value="1" checked/>
            {{/isBillable}}
            {{^isBillable}}
                <input type="checkbox" class="billable-checkbox" name="billable" value="1"/>
            {{/isBillable}}
        </div>
        <div class="duration right">
            {{duration_formatted}}
        </div>
    </div>
    <div class="row">
        <div class="note-placeholder">{{&description_formatted}}</div>
        <div class="note-input-box"><textarea name="note" class="note-input">{{description}}</textarea></div>
    </div>
</div>