<div class="tc-sidebar-start-button {{#isRunning}}running{{/isRunning}}">
    {{#taskName}}
        <div class="task-name">{{taskName}}</div>
    {{/taskName}}
    {{^taskName}}
    <span class="task-name">
        {{^isRunning}}Start task{{/isRunning}}
        {{#isRunning}}Stop task{{/isRunning}}
    </span>
    {{/taskName}}
    <div class="tc-timer-state-icon">
        {{#isRunning}}
        <i class="fa fa-stop fa-lg"></i>
        {{/isRunning}}
        {{^isRunning}}
            {{^isSingle}}
                <i class="fa fa-play fa-lg fa-rotate-90"></i>
            {{/isSingle}}
            {{#isSingle}}
                <i class="fa fa-play fa-lg"></i>
            {{/isSingle}}
        {{/isRunning}}
    </div>
    {{#hasSubtasks}}
    <div class="tc-subtask-picker">
        <ul>
            {{#subtasks}}
            <li class="tc-subtask-picker-entry" data-taskId="{{taskId}}">{{taskName}}</li>
            {{/subtasks}}
        </ul>
    </div>
    {{/hasSubtasks}}
</div>
