<div class="tc-sidebar-entry active tc-sidebar-entry-new">
    <div class="row">
        <div class="inline left">
            <input type="text" class="from time-input hours" min="0" max="23" maxlength="2" size="2">:<input type="text" class="from time-input minutes" min="0" max="59" maxlength="2" size="2">
            -
            <input type="text" class="to time-input hours" min="0" max="23" maxlength="2" size="2">:<input type="text" class="to time-input minutes" min="0" max="59" maxlength="2" size="2">
        </div>
        <div class="billable inline">
            <input type="checkbox" class="billable-checkbox" name="billable" value="1" checked/>
        </div>
        <div class="duration right">
            0:00:00
        </div>
    </div>
    <div class="row">
        <div class="note-input-box"><textarea name="note" class="note-input" placeholder="Note..."></textarea></div>
    </div>
    <div class="row right">
        <button class="btn btn-sm btn-success add-entry-confirm">Add</button>
        <button class="btn btn-sm btn-link add-entry-cancel">cancel</button>
    </div>
    <div class="clearfix"></div>
</div>